<html>
<head>
    <title>MotechDoc</title>
    <style type="text/css">$style</style>
</head>
<body>
    #foreach($class in $classList)
        #printClass($class)
    #end
</html>


#macro(printClass $class)
<div class="class-box">
    <h3>$class.name()</h3>
    <ol>
        #foreach($method in $class.methods())
            <li>#printMethod($method)</li>
        #end
    </ol>
</div>
#end


#macro(printMethod $method)
<div class="method-box">
    <fieldset>
        <legend>$method.name()()</legend>
        <div class="small-title">Takes:</div>
        <table class="params-table">
            <thead>
            <td>name</td>
            <td>type</td>
            <td>description</td>
            </thead>
            #if($method.hasArguments())
                #foreach($argument in $method.arguments())
                    <tr>
                        <td>@argument_name@</td>
                        <td>$arument.getName()</td>
                        <td>@argument_description@</td>
                    </tr>
                #end
            #else
                NIL
            #end
        </table>
        <div class="small-title">Returns:</div>
        <table class="return-table">
            <thead>
            <td>type</td>
            <td>description</td>
            </thead>
            #if($method.returns())
                <tr>
                    <td>$method.returnType()</td>
                    <td>@argument_description@</td>
                </tr>
            #else
                void
            #end
        </table>
    </fieldset>
</div>
#end