<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
       xmlns:util="http://www.springframework.org/schema/util">

    <util:properties id="batchProperties" location="classpath:batch-default.properties"/>
    <context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>

    <import resource="classpath:applicationBatchCommonContext.xml"/>
    <import resource="classpath:applicationBatchReplicationContext.xml"/>
    <import resource="classpath:META-INF/spring/batch/jobs/replication-jobs-context.xml"/>

    <import resource="classpath:applicationBatchIndexingContext.xml"/>
    <import resource="classpath:META-INF/spring/batch/jobs/indexing-jobs-context.xml"/>

    <import resource="classpath:applicationBatchCompactionContext.xml"/>
    <import resource="classpath:META-INF/spring/batch/jobs/compaction-jobs-context.xml"/>

    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
        <!--<property name="driverClass" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="jdbcUrl" value="${db.connection.string}"/>-->
        <!--<property name="user" value="${db.username}"/>-->
        <!--<property name="password" value="${db.password}"/>-->
        <!--<property name="minPoolSize" value="${db.pool.size}"/>-->
        <!--<property name="maxPoolSize" value="${db.pool.size}"/>-->
        <!--<property name="maxIdleTime" value="${db.pool.maxIdleTime}"/>-->
    <!--</bean>-->

    <!--<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="viewIndexCronTrigger"/>
                <ref bean="dbCompactorCronTrigger"/>
                <ref bean="replicationCronTrigger"/>
            </list>
        </property>
    </bean>
</beans>
