table, tbody {
    font-size: 12px;
    border-spacing: 0px;
}

td, th {
    width: auto;
    text-align: left;
    padding-left: 20px;
    border: 0 none;
}

thead {
    text-decoration: underline;
    color: #5f9ea0;
}

.method-box {
    padding-bottom: 10px;
    padding-top: 10px;
}

.params-table {
    padding-top: 3px;
    padding-bottom: 5px;
}

.small-title {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 10px;
}

fieldset{
    border-color: #f5f5f5;
    border-left-width: 0px;
    border-right-width: 0px;
}

