<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="deliverytools" class="org.apache.log4j.RollingFileAppender">
        <param value="logs/deliverytools.log" name="File"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="4096KB"/>
        <param name="maxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] - %m%n"/>
        </layout>
    </appender>
    <appender name="deliverytools-console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] - %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework">
        <level value="warn"/>
    </logger>
    <logger name="org.ektorp">
        <level value="warn"/>
    </logger>
    <logger name="org.motechproject">
        <level value="info"/>
    </logger>

    <logger name="org.motechproject.deliverytools">
        <level value="info"/>
        <appender-ref ref="deliverytools"/>
        <appender-ref ref="deliverytools-console"/>
    </logger>

    <root>
        <priority value="warn"/>
        <appender-ref ref="deliverytools"/>
        <appender-ref ref="deliverytools-console"/>
    </root>
</log4j:configuration>
